<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<title>Game of Tiles</title>

		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.8.2.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.infieldlabel.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/tiles.js")"></script>

	</head>

	<body>

		<div class="header">
			<img class="logo" src="@routes.Assets.at("images/logotext.png")"/>
			<div class="loginDiv">
				<form class="loginForm">
					<ul class="inline-login">
						<li>
							<input id="usernameinput" class="username" type="text"/>
							<label for="usernameinput">Brukernavn</label>
						</li>
						<li>
							<input id="passwordinput" class="password" type="password"/>
							<label for="passwordinput">Passord</label>
						</li>
						<li>
							<input class="loginButton" id="loginButton" type="submit" value="Logg inn">
							</button>
						</li>
					</ul>

				</form>
			</div>
		<!-- 	<div class="userdiv">
				<img class="downarrow" src="assets/images/downarrow.png"/>
			</div> -->
			<div class="usermenu">
				<ul>
					<li class="logout">
						Logg ut
					</li>
					<li>
						Innstillinger
					</li>
				</ul>
			</div>
		</div>

		<div id="content">
			<div class="splash">
				<h1>Velkommen til Game of Tiles!</h1>
				<img class="splashimg" src="@routes.Assets.at("images/GameOfTiles.png")"/>
				<br/>
				<br/>
				<div class="text">

					<p>
						<b>Hva er Game of Tiles?</b>
						</br>
						Game of Tiles er en brikketeller for spill i Scrabble-familien.
						<br/>
						<br/>
						<b>Telle brikker? Er ikke det juks?</b>
						<br/>
						Nei, å telle hvilke brikker som er blitt lagt er tillatt og vanlig i turneringer.
						Med Game of Tiles slipper du å skrive ned alle bokstavene på et ark og stryke dem ut manuelt.
						<br/>
						<br/>
						<b>Feil, mangler eller ønsker?</b>
						<br/>
						Dette er et hobbyprosjekt som oppdateres når jeg har tid og lyst.
						Ved feil, mangler, ønsker eller annen tilbakemelding, send en mail til andersullnass[at]gmail.com

					</p>
				</div>

			</div>
			<div id="games"></div>
		</div>
	</body>
</html>