<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

		<title>Wordfeud brikketeller</title>

		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")">
		<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.8.2.min.js")"></script>
		<script type="text/javascript" src="@routes.Assets.at("javascripts/tiles.js")"></script>

	</head>

	<body>
		
		<div class="header">
			<img class="logo" src="@routes.Assets.at("images/GameOfTiles.png")"/>
			<div class="loginDiv">
				<form class="loginForm">
					<table>
						<tr>
							<td>Brukernavn:</td>
							<td>
							<input class="username" type="text"/>
							</td>
						</tr>
						<tr>
							<td>Passord:</td>
							<td>
							<input class="password" type="password"/>
							</td>
							<td>
							<button id="loginButton" type="submit">
								Logg inn
							</button></td>
						</tr>
					</table>

				</form>
			</div>
		</div>

		<div id="content">
			<form class="newGameForm">
				Motstander:
				<input id="opponentInput" type="text"/>
				<button id="newGameButton">
					Nytt spill
				</button>
			</form>
			<div class="splash">
				<h1>Velkommen til Game of Tiles!</h1> <br/>
				<img class="splashimg" src="@routes.Assets.at("images/GameOfTiles.png")"/>
			</div>
			<div id="games"></div>
		</div>
	</body>
</html>