@CHARSET "ISO-8859-1";

html {
	background-color: #FFF;
	font-family: tahoma;
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;
}

.header {
	position: fixed !important;
	float: left;
	position: absolute;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	background-color: #391456;
	min-width: 981px;
	z-index: 300;
}

#content {
	margin: 0px auto;
	position: relative;
	top: 40px;
	width: 100%;
	height: 100%;
}

#games {
	padding: 0 20px;
	width: 100%;
	height: 100%;
	visibility: hidden;
	color: #FFF;
}

div.game {
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: left;
	width: 485px;
	background-color: #2F2727;
	/* fallback image */
	/*    background-image: url(images/fallback-gradient.png);  */
	/* Safari 4+, Chrome 1-9 */
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2F2727),
		to(#1a82f7) );
	/* Safari 5.1+, Mobile Safari, Chrome 10+ */
	background-image: -webkit-linear-gradient(top, #2F2727, #413838);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(top, #2F2727, #413838);
	/* IE 10+ */
	background-image: -ms-linear-gradient(top, #2F2727, #413838);
	/* Opera 11.10+ */
	background-image: -o-linear-gradient(top, #2F2727, #413838);
	padding: 20px;
	margin: 10px;
}

div.tiles {
	width: 100%;
	padding: 20px 10px;
}

form * {
	margin: 0 10px;
}

form#newGameForm {
	padding: 20px 0;
	text-align: center;
	/*visibility: hidden;*/
}

form.wordForm {
	padding-top: 10px;
	padding-left: 15px;
	width: 100%;
}

label#gameTitle {
	font-weight: bold;
}

div.tile {
	color: #000;
	float: left;
	width: 28px;
	height: 28px;
	margin: 3px;
	border-width: 2px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-color: #444;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFF;
	

	box-shadow: 2px 2px 3px #DDD;
}

div.tile:hover {
	cursor: pointer;
}

div.letter {
	float: left;
	width:30%;
	position: relative;
	padding-left: 5px;
	padding-top: 1px;
	font-size: 20px;
	text-align: center;
}

div.smallerletter{
	float: left;
	width:20%;
	position: relative;
	padding-left: 3px;
	padding-top: 3px;
	font-size: 18px;
}

div.value {
	position: relative;
	float: right;
	text-align: right;
	top: -1px;
	padding-right: 2px;
	font-size: 10px;
}


div.used {
	background-color: #AAA;
	color: #777;
}

.loginBar {
	color: white;
	width: 980px;
	font-size: 12px;
	float: right;
}

.loginDiv {
	float: right;
	padding: 5px 0;
}

.loginDiv input {
	margin-top: 1px;
	vertical-align: middle;
}

#loginButton {
	float: right;
	vertical-align: middle;
}
